<!doctype html>
<html ng-app="myApp">
  <head>
    <title>My Angular App</title>
  </head>
  <body >
  	<div ng-controller="baseParentCtrl">          
        <input type="text" date-picker ng-model="startDate">
        <input type="text" date-picker ng-model="endDate">

        {{startDate}}
        {{endDate}}
    </div>
	
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
 <link rel="stylesheet" type="text/css" href="js/jquery-ui.min.css">
 <script src="js/jquery-1.9.1.js"></script>
 <script src="js/jquery-ui.min.js"></script>
<script>
  var myApp = angular.module('myApp',[]);
  myApp.controller('baseParentCtrl',function($scope){

  });
  myApp.directive('datePicker',function(){
      return {
        restrict : 'A',
        require: 'ngModel',
        link : function(scope,elem,attr,ngModelCtrl){
          $(function(){
            $(elem).datepicker({
                dateFormat: 'dd.mm.yy',
                onSelect: function(date) {
                    ngModelCtrl.$setViewValue(date);
                    ngModelCtrl.$render();
                    scope.$apply();
                }
            });

          });
                        
        }
      };
  });
</script>
  </body>
</html>