<!doctype html>
<html ng-app="myApp">
  <head>
    <title>My Angular App</title>
  </head>
  <body>

  <div ng-controller="myController">
    <input type="text" ng-model="name">
    <input type="text" ng-model="name">
     <input type="text" ng-model="age">
    <div ng-controller="myController1">
      <input type="text" ng-model="name">
    </div>  
  </div>

<script src="angular.min.js"></script>

<script>
  var myApp = angular.module("myApp",[]);

  myApp.controller("myController",function($scope){
     // $scope.person = {
        $scope.name = "harry"
      //}
  });

   myApp.controller("myController1",function($scope){
        //$scope.name : "harry"
  });
</script>
  </body>
</html>

